.body06 {
  display: flex;
  width: 1440px;
  height: 100%;
  padding-top: 200px;
  padding-bottom: 100px;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
}

.img4 {
  width: 565px;
  height: 390px;
  padding: 0px 50px 20px 140px;
}
.bold6 {
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  margin: 0px;
  padding: 100px 200px 10px 0px;
}

.p6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;

  padding: 0px 200px 10px 60px;
}
