.body02 {
  width: 1440px;
  height: 100%;
  display: flex;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
}

.img1 {
  padding: 100px 10px 0px 140px;
  width: 570px;
  height: 640px;
}

.bold02 {
  font-size: 42px;
  font-weight: 400;
  line-height: 50px;
  padding: 360px 200px 0px 100px;
  margin-bottom: 0px;
}

.text02 {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  padding: 7px 160px 0px 100px;
}
